// Theme Colors
$primary: #1a78fe;
$secondary: #262c5b;
$white: #ffffff;
$success: #11987b;

// Body Colors
$body-bg: #f6f7fb;
$body-color: #546880;

// Hero Page colors
$hero-content-bg: $white;

// Quiz Page colors
$options-wrapper-bg: #9f9f9f;
$options-wrapper-border-clr: $options-wrapper-bg;

// Table
$table-color: $body-color;
$table-head-bg: $success;