// Base Variables
$font-family-base: 'Josefin Sans', sans-serif;
$enable-shadows: true;

// Contrast Ratio
$min-contrast-ratio: 3;

// Border
$border-radius: 5px;

// Button
$btn-padding-x: 1.5rem;
$btn-padding-y: 0.6rem;
$btn-box-shadow: 0 7px 16px rgba(93,111,165,.45);

// Hero page variables
$hero-img-size: 300px;
$hero-content-curve-width: 80px;