<div class="container p-3 h-100">
  <div class="bg-white rounded shadow-sm p-4">
    <div>
      <!-- Question -->
      <h3 class="mb-3">
        {{ quizData.question }}
      </h3>
      <!-- End: Question -->

      <!-- Answer Options -->
      <form class="d-flex flex-column gap-3" [formGroup]="quizForm">
        <div class="options-wrapper"
          *ngFor="let answer of quizData.options">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              [id]="answer.id"
              [formControlName]="currentFormControl"
              [value]="answer.id" />
            <label class="form-check-label" [for]="answer.id">
              {{ answer.name }}
            </label>
          </div>
        </div>
      </form>
      <!-- End: Answer Options -->
      <div *ngIf="isResultShown">
        Correct Answers are {{ correctAnswers }} out of
        {{ totalQuestions }} questions<br />
        Wrong Answers :-
        {{ wrongAnswers }}
      </div>
    </div>

    <!-- Navigation Buttons -->
    <div class="d-flex align-items-center justify-content-between mt-5">
      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="loadPreviousQuestion()"
        [disabled]="this.currentQuestionNumber === 1 || isResultShown">
        Previous
      </button>
      <button
        type="button"
        class="btn btn-primary"
        [disabled]="isResultShown"
        (click)="loadNextQuestion()">
        {{ this.currentQuestionNumber === this.totalQuestions ? "Finish" :
        "Next"
        }}
      </button>
      <button
        type="button"
        class="btn btn-danger"
        (click)="resetQuiz()"
        *ngIf="isResultShown">
        Reset
      </button>
    </div>
    <!-- End: Navigation Buttons -->
  </div>
</div>
