<div class="container p-3 h-100">
  <div class="bg-white rounded shadow-sm p-4">
    <div>
      <!-- Question -->
      <h3 class="mb-3">{{ currentQuestionNumber }}. {{ quizData.question }}</h3>
      <!-- End: Question -->
      <div class="progress my-3">
        <div
          class="progress-bar bg-info"
          role="progressbar"
          [style.width.%]="progressBar"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
      <!-- Answer Options -->
      <form class="d-flex flex-column gap-3" [formGroup]="quizForm">
        <div class="options-wrapper" *ngFor="let answer of quizData.options">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              (change)="isValidationMessageShown = false"
              [id]="answer.id"
              [formControlName]="currentFormControl"
              [value]="answer"
            />
            <label class="form-check-label" [for]="answer.id">
              {{ answer.name }}
            </label>
          </div>
        </div>
      </form>
      <!-- End: Answer Options -->
    </div>

    <!-- Navigation Buttons -->
    <small class="text-danger" *ngIf="isValidationMessageShown">
      Please Select alteast one option
    </small>
    <div class="d-flex align-items-center justify-content-between mt-5">
      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="loadPreviousQuestion()"
        [disabled]="this.currentQuestionNumber === 1"
      >
        Previous
      </button>
      <button
        type="button"
        class="btn"
        [ngClass]="{
          'btn-primary': this.currentQuestionNumber !== this.totalQuestions,
          'btn-success': this.currentQuestionNumber === this.totalQuestions
        }"
        (click)="loadNextQuestion()"
      >
        {{
          this.currentQuestionNumber === this.totalQuestions ? "Submit" : "Next"
        }}
      </button>
    </div>
    <!-- End: Navigation Buttons -->
  </div>
</div>
